/*
 * This is the  css file while clair is trying things out so as not to break the main css!
 */





/*---------------------------------------------
					Highlight Start  (front page news item)
-----------------------------------------------*/



#highlight {
    text-align: center;
    padding: 10px 0;
}

#highlight .highlight-item {
 padding: 1px 10px 30px 10px;
border:  6px double #51baa0;
border-radius: 12px;
margin: 10px auto 10px auto;
height: 180px
}


#highlight .highlight-item-borderless {
 padding: 10px 10px 30px 10px;
border:  0px double #51baa0;
}



#highlight .highlight-item-borderless img {
 width=100%;
 border-radius: 15px; 
}



.gallerygrid {
    text-align: center;
    padding: 10px 0;
}

.gallerygrid gallery-item {
 padding: 1px 10px 30px 10px;
border:  6px double #51baa0;
border-radius: 12px;
margin: 10px auto 10px auto;
height: 180px
}


.gallerygrid gallery-item-borderless {
 padding: 10px 10px 30px 10px;
border:  0px double #51baa0;
}



.gallerygrid gallery-item-borderless img {
 width=100%;
 border-radius: 15px; 
}

.banner-image img {
	width: 100%;
	padding-top: 10px;
}


/*---------------------------------------------
					Feedback Form Table
-----------------------------------------------*/


table.feedback {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}

table.feedback td {
  border: 1px solid black;
}



th.answer-rate {
  width: 90px;
  text-align: center;
  border: 1px solid black;
}

th.answer-agree {
  width: 90px;
  text-align: center;
  border: 1px solid black;

}

th.question {
 border:0px;	
}

td.question {
  padding: 3px 5px 3px 5px;
}

td.answer {
  text-align: center;
}

table.text-box-feedback {
  width: 100%;
  border: 0px;
}

td.text-box-question {
  vertical-align: top;
  padding-right: 2px;
    border: 0px;
}

td.text-box-answer {
  text-align: right;
    border: 0px;
}