---
layout: frontpage
title: ARCHER2
permalink: /
---

<!-- Highlight Start -->




<!-- 
 	  <div class="row">
      <div class="col-md-12">
        <div class="block">
							
		       <a href="https://www.archer2.ac.uk/ecse/calls/"><img style="width: 98%" src="../../img/splash/old/221206-ecse-9-w.jpg" alt="9th eCSE call"  /></a> 

			  </div>
      </div>
    </div>
 -->
 
 
				

		<div class="row">
      <div class="col-md-12">
        <div class="block">
							
					<a href="https://docs.archer2.ac.uk/faq/upgrade-2023/"><img style="width: 48%" src="../../img/splash/230329-upgrade.jpg" alt="ARCHER2 upgrade 2023" /></a> 													
				
					<a href="https://www.archer2.ac.uk/training/courses/230607-user-forum/"><img style="width: 48%" src="../../img/splash/230607-user-forum.jpg" alt="ARCHER2 User Forum" /></a> 										

																			
			  </div>
      </div>
    </div>	
		
		
<!-- 
		<div class="row">
      <div class="col-md-12">
        <div class="block">
							
					<a href="https://docs.archer2.ac.uk/faq/upgrade-2023/"><img style="width: 48%" src="../../img/splash/230329-upgrade.jpg" alt="ARCHER2 upgrade 2023" /></a> 													

					<a href="https://www.archer2.ac.uk/support-access/access#calls-for-archer2-time-only"><img style="width: 48%" src="../../img/splash/230411-access-hpc-call.jpg" alt="EPSRC Access to HPC Call" /></a> 													
																			
			  </div>
      </div>
    </div>	
		
	 -->	
 
<!--  
		<div class="row">
      <div class="col-md-12">
        <div class="block">
				
					<a href="https://www.archer2.ac.uk/training/courses/230411-data-scientists/"><img style="width: 48%" src="../../img/splash/230411-data-scientists.jpg" alt="ARCHER2 for Data Scientists" /></a> 											
					
					<a href="https://docs.archer2.ac.uk/faq/upgrade-2023/"><img style="width: 48%" src="../../img/splash/230329-upgrade.jpg" alt="ARCHER2 upgrade 2023" /></a> 													
																			
			  </div>
      </div>
    </div>	
		
	 -->	
		
<!-- 		
 
		<div class="row">
      <div class="col-md-12">
        <div class="block">
				
					<a href="https://www.archer2.ac.uk/training/courses/230405-science-image-2/"><img style="width: 48%" src="../../img/splash/230321-sci-image-comp-2.jpg" alt="Science behind the image competition" /></a> 														
				
					<a href="https://docs.archer2.ac.uk/faq/upgrade-2023/"><img style="width: 48%" src="../../img/splash/230329-upgrade.jpg" alt="ARCHER2 upgrade 2023" /></a> 													
																			
			  </div>
      </div>
    </div>	
 -->
 
<!-- 		
    <div class="row">
      <div class="col-md-12">
        <div class="block">
				
					<a href="https://docs.archer2.ac.uk/faq/upgrade-2023/"><img style="width: 48%" src="../../img/splash/230320-upgrade.jpg" alt="ARCHER2 upgrade 2023" /></a> 													
							
					<a href="https://www.archer2.ac.uk/training/courses/230321-hpe-cray-ex/"><img style="width: 48%" src="../../img/splash/230321-hpe-cray-ex.jpg" alt="Efficient use of the HPE Cray EX Supercomputer ARCHER2" /></a> 											
												
			  </div>
      </div>
    </div>	
 -->  

 
<!--  
		<div class="row">
      <div class="col-md-12">
        <div class="block">
				
					<a href="https://www.archer2.ac.uk/training/courses/230322-science-image-1/"><img style="width: 48%" src="../../img/splash/230321-sci-image-comp-1.jpg" alt="ARCHER2 science behind the image competition webinar" /></a> 													
							
					<a href="https://www.archer2.ac.uk/training/courses/230321-hpe-cray-ex/"><img style="width: 48%" src="../../img/splash/230321-hpe-cray-ex.jpg" alt="Efficient use of the HPE Cray EX Supercomputer ARCHER2" /></a> 											
												
			  </div>
      </div>
    </div>	
  -->
 

 
<!--   
		<div class="row">
      <div class="col-md-12">
        <div class="block">
				
					<a href="https://www.archer2.ac.uk/training/courses/230321-hpe-cray-ex/"><img style="width: 48%" src="../../img/splash/230321-hpe-cray-ex.jpg" alt="Efficient use of the HPE Cray EX Supercomputer ARCHER2" /></a> 											
						
					<a href="https://www.archer2.ac.uk/training/#upcoming-training"><img style="width: 48%" src="../../img/splash/230313-training-mar23.jpg" alt="ARCHER2 Training Mar 2023" /></a> 													
									
			  </div>
      </div>
    </div>	
 
  -->
	
<!-- 	
		<div class="row">
      <div class="col-md-12">
        <div class="block">

					<a href="https://www.archer2.ac.uk/training/#upcoming-training"><img style="width: 48%" src="../../img/splash/230215-training-feb23.jpg" alt="ARCHER2 Training Feb-Mar 2023" /></a> 										
				
					<a href="https://www.archer2.ac.uk/training/courses/230308-archer2-training-forum/"><img style="width: 48%" src="../../img/splash/230223-training-forum.jpg" alt="ARCHER2 Training Forum" /></a> 												
									
			  </div>
      </div>
    </div>	
 
-->
 
<!--  
		<div class="row">
      <div class="col-md-12">
        <div class="block">

					<a href="https://www.archer2.ac.uk/training/#upcoming-training"><img style="width: 48%" src="../../img/splash/230215-training-feb23.jpg" alt="ARCHER2 Training Feb-Mar 2023" /></a> 										
				
					
					<a href="../ecse/calls/"><img style="width: 48%" src="../../img/splash/221206-ecse-9.jpg" alt="9th eCSE call" /></a> 											
						
									
			  </div>
      </div>
    </div>	
-->
 
<!-- 	
		<div class="row">
      <div class="col-md-12">
        <div class="block">
							
					<a href="../ecse/calls/"><img style="width: 48%" src="../../img/splash/221206-ecse-9.jpg" alt="9th eCSE call" /></a> 											
						
					<a href="https://www.archer2.ac.uk/training/courses/230125-optimet-vt/"><img style="width: 48%" src="../../img/splash/230125-optimet-vt.jpg" alt="ARCHER2 Optimet webinar" /></a> 										
										
			  </div>
      </div>
    </div>		
-->
<!-- 	
		<div class="row">
      <div class="col-md-12">
        <div class="block">
								
					<a href="https://www.archer2.ac.uk/ecse/calls/"><img style="width: 48%" src="../../img/splash/221206-ecse-9.jpg" alt="9th eCSE call" /></a> 											
						
			    <a href="../../news/2022/12/13/archer2-festive-period.html"><img style="width: 48%" src="../../img/splash/221214-archer2-festive-season.jpg" alt="ARCHER2 Festive Period Service information" title="ARCHER2 Festive Period Service information"/></a> 			
									
			  </div>
      </div>
    </div>		
		
	 -->	
	
<!-- 	
	<div class="row">
      <div class="col-md-12">
        <div class="block">
								
					<a href="https://www.archer2.ac.uk/ecse/calls/"><img style="width: 48%" src="../../img/splash/221206-ecse-9.jpg" alt="9th eCSE call" /></a> 											
						
			    <a href="../../training/courses/221213-performance-optimisation/"><img style="width: 48%" src="../../img/splash/221213-perf-opt.jpg" alt="dft webinar" /></a> 			
									
			  </div>
      </div>
    </div>		
		
	 -->
		
<!-- 	
		<div class="row">
      <div class="col-md-12">
        <div class="block">
				
					<a href="https://edin.ac/3DAhpJQ"><img style="width: 48%" src="../../img/splash/221027-solid-state-storage.jpg" alt="Solid state storage" /></a> 										
						
			    <a href="../../news/2022/11/02/image-competition-2022-results.html"><img style="width: 48%" src="../../img/splash/221102-image-competition-results.jpg" alt="Image Competition 2022 Results" /></a> 			
									
			  </div>
      </div>
    </div>		
	 -->
<!-- 	
		<div class="row">
      <div class="col-md-12">
        <div class="block">
				
					<a href="../../training/courses/221102-hpe-debugging-vt/"><img style="width: 48%" src="../../img/splash/221102-hpe-debugging-vt.jpg" alt="HPE Debugging webinar" /></a> 	
					
					<a href="https://edin.ac/3DAhpJQ"><img style="width: 48%" src="../../img/splash/221027-solid-state-storage.jpg" alt="Solid state storage" /></a> 										
											
			  </div>
      </div>
    </div>	
	 -->
<!-- 	
		<div class="row">
      <div class="col-md-12">
        <div class="block">
				
					<a href="../../training/courses/221102-hpe-debugging-vt/"><img style="width: 48%" src="../../img/splash/221102-hpe-debugging-vt.jpg" alt="HPE Debugging webinar" /></a> 	
					
					<a href="../../about/staff/"><img style="width: 48%" src="../../img/splash/221025-meet-the-team.jpg" alt="Meet the team" /></a> 										
											
			  </div>
      </div>
    </div>	
 -->	
	<!-- 
	
		<div class="row">
      <div class="col-md-12">
        <div class="block">
				
					<a href="https://t.co/bBfaNU6JzO"><img style="width: 48%" src="../../img/splash/221010-ukri-covid.jpg" alt="UKRI Report" /></a> 	
					
					<a href="../../news/2022/10/10/ARCHER2CodePowerRSE.html"><img style="width: 48%" src="../../img/splash/221010-power-draw-blog.jpg" alt="Power Draw blog post" /></a> 										
											
			  </div>
      </div>
    </div>		
	 -->	


	
 

		

    <div class="row">
      <div class="col-md-12">
        <div class="lines">
        </div>
      </div>
    </div>

<!-- Service Start -->
<section id="service">
  <div class="container">

		
    <div class="row ">
      <div class="ar2-front-col hidden-xs hidden-sm col-md-3 col-lg-2">
        <div class="service-item-twitter">
          <a class="twitter-timeline" data-width="220" data-height="630" data-theme="light" href="https://twitter.com/ARCHER2_HPC?ref_src=twsrc%5Etfw">Tweets by ARCHER2_HPC</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
			
      <div class="ar2-front-col col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="service-item-tall">
          <h4><a href="about/news/">News &amp; Announcements</a></h4>
          <ul>
            {% for post in site.categories.news limit:5 %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a><br/>{{ post.date | date_to_string }} {{ post.excerpt }} 
              </li>
            {% endfor %}
          </ul>
          <p class="more"><a href="about/news/">More News&hellip;</a></p>
        </div>
      </div>

      <div class="ar2-front-col col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="service-item-tall">
          <h4><a href="training/#upcoming-training">Upcoming Training</a></h4>
          <ul>
            {% assign filtered_courses = site.courses | where_exp: "course", "course.end_date >= site.time" %}
						{% assign nothidden_courses = filtered_courses | where_exp: "course", "course.registration_status != 'hidden' " %}					
            {% for course in nothidden_courses limit:10 %}
            <li>
              <a href="{{ course.url }}">{{ course.title }}</a><br/>Date: {{ course.human_dates }}<br/>Location: {{ course.location }} 
            </li>
            {% endfor %}
          </ul>
          <p class="more"><a href="training/">More Training&hellip;</a></p>
        </div>
      </div>
			
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
        <div class="service-item-borderless">
          <h4><a href="./about/">ARCHER2 is the UK National Supercomputing Service</a></h4>
          <p>The ARCHER2 Service is a world class advanced 
 						computing resource for UK researchers. ARCHER2 is provided by <a href="https://www.ukri.org">UKRI</a>, 
						<a href="https://www.epcc.ed.ac.uk">EPCC</a>, <a href="https://www.cray.com">HPE Cray</a> and the 
            <a href="https://www.ed.ac.uk">University of Edinburgh</a>.
          </p>
        </div>
				
				
<!-- 				
			<div class="block">		
			
				  <h4>ARCHER2 webinar </h4>				
				
					<a href="https://www.archer2.ac.uk/training/courses/230405-science-image-2/"><img style="width: 98%" src="../../img/splash/230321-sci-image-comp-2.jpg" alt="Science behind the image competition" /></a> 										
			</div>	
	 -->		
						

														
	

		
			<div class="block">	
			
				  <h4>ARCHER2 Training </h4>	
								
				  <a href="../../training/courses/230705-python-vt"><img style="width: 98%" src="../../img/splash/230705-python-vt.jpg" alt="Rust vt" /></a> 															
		<br/>		<br/>				
				  <a href="../../training/courses/230719-openfoam-lammps-vt"><img style="width: 98%" src="../../img/splash/230719-openfoam-lammps-vt.jpg" alt="Rust vt" /></a> 															
			
		
		
			</div>	
			
				
				
			<div class="block">				
				  <h4>10th ARCHER2 eCSE call open</h4>				
				
					<a href="https://www.archer2.ac.uk/ecse/calls/"><img style="width: 98%" src="../../img/splash/230419-ecse-10.jpg" alt="ARCHER2 eCSE call 10" /></a> 										
			</div>	
			
				
	
				
				

		
<!-- 		
			<div class="block">
			
				  <h4><a href="research/technical-reports/">Technical Reports</a> </h4>
					
				  <h5><a href="research/technical-reports">HPC-JEEP: Energy-based charging on the ARCHER2 HPC service</a></h5>					
					<a href="/research/technical-reports/"><img style="width: 98%" src="/research/technical-reports/energy-based-charging/power-distribution.jpg" alt="Energy-based charging on the ARCHER2 HPC service" /></a> 	<br /><br />	
	
 -->	
						
<!-- 	
				  <h5><a href="research/technical-reports">HPC-JEEP: Disseminating energy usage on the ARCHER2 and COSMA HPC services</a></h5>					
					<a href="/research/technical-reports/"><img style="width: 98%" src="research/technical-reports/disseminating-energy-usage/disseminating-energy-usage.jpg" alt="Disseminating energy usage on the ARCHER2 and COSMA HPC services" /></a> 	<br /><br />	
	
			
		
			 </div>			
	 -->				 

						
			<div class="block">
			
			
				  <h4><a href="../../ecse/reports/">eCSE Project Reports</a> </h4>
					
					<h5><a href="../../ecse/reports/eCSE03-02"> Developing in-situ analysis capabilities for pre-Exascale simulations with Xcompact3D</a></h5>					
					<a href="../../ecse/reports/eCSE03-02"><img style="width: 98%" src="../../ecse/reports/ARCHER2-eCSE03-02.jpg" alt="eCSE03-02 Report" /></a> 	<br /><br />	
								
<!-- 					
					<h5><a href="../../ecse/reports/eCSE01-11"> Multi-Layered MPI parallelisation for the R-matrix with time-dependence code </a></h5>					
					<a href="../../ecse/reports/eCSE01-11"><img style="width: 98%" src="../../ecse/reports/ARCHER2-eCSE01-11.jpg" alt="eCSE01-11 Report" /></a> 	<br /><br />	
			
			
					<h5><a href="../../ecse/reports/eCSE04-06"> Optimising NEMO-ERSEM for High Resolution </a></h5>					
					<a href="../../ecse/reports/eCSE04-06"><img style="width: 98%" src="../../ecse/reports/ARCHER2-eCSE04-06.jpg" alt="eCSE04-06 Report" /></a> 	<br /><br />	
				
		

					<h5><a href="../../ecse/reports/eCSE01-13">Zacros Software Package Development: Towards Petascale Kinetic Monte Carlo Simulations with the Time-Warp Algorithm </a></h5>					
					<a href="../../ecse/reports/eCSE01-13"><img style="width: 98%" src="../../ecse/reports/ARCHER2-eCSE01-13.jpg" alt="eCSE01-13 Report" /></a> 	<br /><br />	
		
					<h5><a href="../../ecse/reports/eCSE01-28">Multi-Resolution Coupling for Exascale Engineering </a></h5>					
					<a href="../../ecse/reports/eCSE01-28"><img style="width: 98%" src="../../ecse/reports/ARCHER2-eCSE01-28.jpg" alt="eCSE01-28 Report" /></a> 	<br /><br />	
		
					<h5><a href="../../ecse/reports/eCSE02-11">Optimizing BOUT++ MPI+OpenMP hybrid performance by refactoring compute kernels </a></h5>					
					<a href="../../ecse/reports/eCSE02-11"><img style="width: 98%" src="../../ecse/reports/ARCHER2-eCSE02-11.jpg" alt="eCSE02-11 Report" /></a> 	<br /><br />	
		
					
								
					<h5><a href="../../ecse/reports/eCSE01-09">CASTEP Solvation Forces </a></h5>					
					<a href="../../ecse/reports/eCSE01-09"><img style="width: 98%" src="../../ecse/reports/ARCHER2-eCSE01-09.jpg" alt="eCSE01-09 Report" /></a> 	<br /><br />	
						
					<h5><a href="../../ecse/reports/eCSE02-02">Reducing UM-UKCA data output using flight-track simulation </a></h5>					
					<a href="../../ecse/reports/eCSE02-02"><img style="width: 98%" src="../../ecse/reports/ARCHER2-eCSE02-02.jpg" alt="eCSE02-02 Report" /></a> 	<br /><br />					
						

					<h5><a href="../../ecse/reports/eCSE04-05">Scalable and robust Firedrake deployment on ARCHER2 and beyond</a></h5>					
					<a href="../../ecse/reports/eCSE04-05"><img style="width: 98%" src="../../ecse/reports/ARCHER2-eCSE04-05.jpg" alt="eCSE04-05 Report" /></a> 	<br /><br />					
					
				
					<h5><a href="../../ecse/reports/eCSE02-12">Massively parallel and scalable electromagnetic solver for fast analysis of nonlinear optical processes in large clusters of nanoparticles</a></h5>					
					<a href="../../ecse/reports/eCSE02-12"><img style="width: 98%" src="../../ecse/reports/ARCHER2-eCSE02-12.jpg" alt="eCSE02-12 Report" /></a> 	<br /><br />

-->	
			 </div>						


			 
	 			
			<div class="block">				
				  <h4>ARCHER2 Upgrade User Forum</h4>				
				
					<a href="https://www.archer2.ac.uk/training/courses/230607-user-forum/"><img style="width: 98%" src="../../img/splash/230607-user-forum.jpg" alt="ARCHER2 User Forum" /></a> 										
			</div>	
					 

				
				
			<div class="block">
						
			</div>			
						
			<div class="block">
						
											
			</div>		
				
						
		
	
      
    </div>
  </div>
</section>
