---
layout: frontpage
title: ARCHER2
permalink: /
---

<!-- Highlight Start -->



  	<div class="row">
      <div class="col-md-12">
        <div class="block">
		       <a href="../../news/2021/11/22/full-system-access.html"><img  style="width: 98%"" src="../../img/splash/old/211122-full-system-access-w.jpg" alt="ARCHER2 full system access" /></a> 

	
			  </div>
      </div>
    </div>
 



<!--  
  	<div class="row">
      <div class="col-md-12">
        <div class="block">
		       <a href="../../about/gallery/2021-image-comp/"><img  style="width: 98%"" src="img/splash/old/211118-Image-Competition-results-w.jpg" alt="ARCHER2 Image and Video competition 2021 results" /></a> 

	
			  </div>
      </div>
    </div>
 
  -->
 
<!--  
  	<div class="row">
      <div class="col-md-12">
        <div class="block">
		       <a href="../../training/courses/211117-archer2-full-system/"><img  style="width: 98%"" src="img/splash/old/211117-full-system-w.jpg" alt="Introduction to the full ARCHER2 system" /></a> 

	
			  </div>
      </div>
    </div>
 
 
 -->
 
 
<!--  
 	  <div class="row">
      <div class="col-md-12">
        <div class="block">
		       <a href="../../news/2021/10/07/access-to-hpc.html"><img  style="width: 98%"" src="../../img/splash/old/211007-access-hpc-w.jpg" alt="Access to HPC call open" /></a> 

	
			  </div>
      </div>
    </div>
  -->
<!--  

	  <div class="row">
      <div class="col-md-12">
        <div class="block">
		       <a href="../../news/2021/10/07/access-to-hpc.html"><img style="width: 48%" src="../../img/splash/211007-access-hpc.jpg" alt="Access to HPC call open" /></a> 

					<a href="../../training/courses/211020-parallel-io/"><img style="width: 48%" src="img/splash/211020-parallel-io.jpg" alt="Parallel IO on ARCHER2 Webinar" /></a>
 
			  </div>
      </div>
    </div>
 -->
<!-- 
 
 	  <div class="row">
      <div class="col-md-12">
        <div class="block">
					<a href="../../training/courses/211020-parallel-io/"><img style="width: 48%" src="img/splash/211020-parallel-io.jpg" alt="Parallel IO on ARCHER2 Webinar" /></a>

					<a href="../../news/2021/08/25/image-competition-2021.html"><img style="width: 48%" src="img/splash/210825-image-competition-2021.jpg" alt="Image Competition" /></a>
 
			  </div>
      </div>
    </div>
 --> 
 
<!-- 
	  <div class="row">
      <div class="col-md-12">
        <div class="block">
		       <a href="../../news/2021/10/07/access-to-hpc.html"><img style="width: 48%" src="../../img/splash/211007-access-hpc.jpg" alt="Access to HPC call open" /></a> 

					<a href="../../news/2021/08/25/image-competition-2021.html"><img style="width: 48%" src="img/splash/210825-image-competition-2021.jpg" alt="Image Competition" /></a>
 
			  </div>
      </div>
    </div>
 -->

<!-- 
	  <div class="row">
      <div class="col-md-12">
        <div class="block">
		       <a href="../../news/2021/09/21/container.html"><img style="width: 48%" src="img/splash/210921-containers.jpg" alt="Using Containers to Install GUI-based Tools on ARCHER2" /></a> 

					<a href="../../news/2021/08/25/image-competition-2021.html"><img style="width: 48%" src="img/splash/210825-image-competition-2021.jpg" alt="HPC Containers" /></a>
 
			  </div>
      </div>
    </div>

 -->
		
	<!-- 		
	    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <a href="/ecse/calls/"><img style="width: 48%" src="img/splash/splashecse3.png" alt="eCSE 3rd call" /></a> <a href="/news/2020/12/16/ARCHER2-early-access.html"><img style="width: 48%" src="img/splash/201216-early-access.png" alt="Early access blog post" /></a>
        </div>
      </div>
    </div> 
		
 -->
 
<!-- 	  <div class="row">
      <div class="col-md-12">
        <div class="block">
					<a href="../../news/2021/08/25/image-competition-2021.html"><img style="width: 48%" src="img/splash/210825-image-competition-2021.jpg" alt="HPC Containers" /></a>
          <a href="../../news/2021/08/25/hpc-container-factory.html"><img style="width: 48%" src="img/splash/210825-container-factory.jpg" alt="ARCHER2 Final cabinets arrive" /></a> 

			  </div>
      </div>
    </div> 	

 
  -->
 
 

		

    <div class="row">
      <div class="col-md-12">
        <div class="lines">
        </div>
      </div>
    </div>

<!-- Service Start -->
<section id="service">
  <div class="container">

		
    <div class="row ">
      <div class="ar2-front-col hidden-xs hidden-sm col-md-3 col-lg-2">
        <div class="service-item-twitter">
          <a class="twitter-timeline" data-width="220" data-height="400" data-theme="light" href="https://twitter.com/ARCHER2_HPC?ref_src=twsrc%5Etfw">Tweets by ARCHER2_HPC</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
			
      <div class="ar2-front-col col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="service-item-tall">
          <h4><a href="about/news/">News &amp; Announcements</a></h4>
          <ul>
            {% for post in site.categories.news limit:5 %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a><br/>{{ post.date | date_to_string }} {{ post.excerpt }} 
              </li>
            {% endfor %}
          </ul>
          <p class="more"><a href="about/news/">More News&hellip;</a></p>
        </div>
      </div>

      <div class="ar2-front-col col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="service-item-tall">
          <h4><a href="training/">Upcoming Training</a></h4>
          <ul>
            {% assign filtered_courses = site.courses | where_exp: "course", "course.end_date >= site.time" %}
            {% for course in filtered_courses limit:5 %}
            <li>
              <a href="{{ course.url }}">{{ course.title }}</a><br/>Date: {{ course.human_dates }}<br/>Location: {{ course.location }} 
            </li>
            {% endfor %}
          </ul>
          <p class="more"><a href="training/">More Training&hellip;</a></p>
        </div>
      </div>
			
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
        <div class="service-item-borderless">
          <h4>ARCHER2 is the UK National Supercomputing Service</h4>
          <p>The ARCHER2 Service is a world class advanced 
 						computing resource for UK researchers. ARCHER2 is provided by <a href="https://www.ukri.org">UKRI</a>, 
						<a href="https://www.epcc.ed.ac.uk">EPCC</a>, <a href="https://www.cray.com">HPE Cray</a> and the 
            <a href="https://www.ed.ac.uk">University of Edinburgh</a>.
          </p>
					<p>
						ARCHER2 is currently running as a small early access system while the full system is being commissioned.</a>
					</p>

        </div>
      </div>			
      
    </div>
  </div>
</section>
