---
layout: frontpage
title: ARCHER2
permalink: /
---

<!-- Highlight Start -->




<!-- 
 	  <div class="row">
      <div class="col-md-12">
        <div class="block">
							
		       <a href="https://www.archer2.ac.uk/ecse/calls/"><img style="width: 98%" src="../../img/splash/old/221206-ecse-9-w.jpg" alt="9th eCSE call"  /></a> 

			  </div>
      </div>
    </div>
 -->



 
 <div class="row">
    <div class="col-md-12">
        <div class="block">	
			<p></p>	

			<a href="https://docs.archer2.ac.uk/user-guide/scheduler/#capability-days"><img style="width: 48%" src="../../img/splash/240314-capability-day.jpg" alt="Capability Day" /></a> 	
			<a href="../../training/#upcoming-training"><img style="width: 48%" src="../../img/splash/240301-training-mar24.jpg" alt="Upcoming training" /></a> 	

		</div>
    </div>
</div>	





<!--

 <div class="row">
    <div class="col-md-12">
        <div class="block">	
			<p></p>	

			<a href="../../training/courses/240308-user-forum"><img style="width: 48%" src="../../img/splash/240308-user-forum.jpg" alt="User Forum" /></a> 	
			<a href="../../training/#upcoming-training"><img style="width: 48%" src="../../img/splash/240201-training-feb24.jpg" alt="Upcoming training" /></a> 						

		</div>
    </div>
</div>	


-->


<!--		
<div class="row">
    <div class="col-md-12">
        <div class="block">	
			<p></p>
			<a href="../../ecse/calls/"><img style="width: 48%" src="../../img/splash/240122-ecse-12.jpg" alt="12th eCSE Call" /></a> 
			<a href="../../training/#upcoming-training"><img style="width: 48%" src="../../img/splash/240101-training-jan24.jpg" alt="Upcoming training" /></a> 										
		</div>
    </div>
</div>						
-->							

<!--  
		<div class="row">
      <div class="col-md-12">
        <div class="block">	
				
					<a href="https://bit.ly/ARCHER2-User-Survey-2023"><img style="width: 48%" src="../../img/splash/231003-user-survey-2023.jpg" alt="ARCHER2 User Survey" /></a> 						
								
				  <a href="https://www.archer2.ac.uk/community/events/celebration-of-science-2024"><img style="width: 48%" src="../../img/splash/240307-celebration-of-science-n.jpg" alt="ARCHER2 Celebration of Science" /></a> 															
															
			  </div>
      </div>
    </div>	

 
  -->
 
 <!-- 
 
		<div class="row">
      <div class="col-md-12">
        <div class="block">	
				
					<a href="https://bit.ly/ARCHER2-User-Survey-2023"><img style="width: 48%" src="../../img/splash/231003-user-survey-2023.jpg" alt="ARCHER2 User Survey" /></a> 						

				  <a href="../../training/#upcoming-training"><img style="width: 48%" src="../../img/splash/231102-training-nov23.jpg" alt="Upcoming training" /></a> 
																	
			  </div>
      </div>
    </div>	

  -->

<!-- 
		<div class="row">
      <div class="col-md-12">
        <div class="block">	
				
					<a href="https://bit.ly/ARCHER2-User-Survey-2023"><img style="width: 48%" src="../../img/splash/231003-user-survey-2023.jpg" alt="ARCHER2 User Survey" /></a> 						
					
				  <a href="../../ecse/calls/"><img style="width: 48%" src="../../img/splash/230925-ecse-11.jpg" alt="11th eCSE Call" /></a> 	 																						
						

											
			  </div>
      </div>
    </div>	

  -->
 

 

	
 

		

    <div class="row">
      <div class="col-md-12">
        <div class="lines">
        </div>
      </div>
    </div>

<!-- Service Start -->
<section id="service">
  <div class="container">

		
    <div class="row ">
		
<!-- 		
      <div class="ar2-front-col hidden-xs hidden-sm col-md-3 col-lg-2">
        <div class="service-item-twitter">
          <a class="twitter-timeline" data-width="220" data-height="630" data-theme="light" href="https://twitter.com/ARCHER2_HPC?ref_src=twsrc%5Etfw">Tweets by ARCHER2_HPC</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>	
 -->	
 		
      <div class="ar2-front-col col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="service-item-tall">
          <h4><a href="about/news/">News &amp; Announcements</a></h4>
          <ul>
            {% for post in site.categories.news limit:5 %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a><br/>{{ post.date | date_to_string }} {{ post.excerpt }} 
              </li>
            {% endfor %}
          </ul>
          <p class="more"><a href="about/news/">More News&hellip;</a></p>
        </div>
      </div>

      <div class="ar2-front-col col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="service-item-tall">
          <h4><a href="training/#upcoming-training">Upcoming Training</a></h4>
            <ul>
            {% assign filtered_courses = site.courses | where_exp: "course", "course.end_date >= site.time" %}
						{% assign nothidden_courses = filtered_courses | where_exp: "course", "course.registration_status != 'hidden' " %}					
            {% for course in nothidden_courses limit:14 %}
                <li>
                    <a href="{{ course.url }}">{{ course.title }}</a><br/>Date: {{ course.human_dates }}<br/>Location: {{ course.location }} 
                </li>
            {% endfor %}
            </ul>
			<ul>
                <li><p class="more"><a href="training/">More Training&hellip;</a></p></li>
			</ul>
			<ul>
				<li><p class="more"><a href="training/materials/webinars">Webinars</a></p></li>
			</ul>
			<ul>
				<li><p class="more"><a href="training/materials/">Past Training Course materials&hellip;</a></p></li>
			</ul>
					
        </div>
      </div>
			
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="service-item-borderless">
          <h4><a href="./about/">ARCHER2 is the UK National Supercomputing Service</a></h4>
          <p>The ARCHER2 Service is a world class advanced 
 						computing resource for UK researchers. ARCHER2 is provided by <a href="https://www.ukri.org">UKRI</a>, 
						<a href="https://www.epcc.ed.ac.uk">EPCC</a>, <a href="https://www.cray.com">HPE Cray</a> and the 
            <a href="https://www.ed.ac.uk">University of Edinburgh</a>.
          </p>
        </div>




				
<!--	
			<div class="block">		
			
				  <h4>ARCHER2 webinars </h4>			
						
					<a href="../../training/courses/240228-capability-days-vt/"><img style="width: 98%" src="../../img/splash/240228-capability-days-vt.jpg" alt="Capability Days vt" /></a> 	
					<br /><br />						
			</div>	
-->	
<!--
			<div class="block">	

				  <h4>ARCHER2 Celebration of Science 2024</h4>	
													
				  <a href="../../community/events/celebration-of-science-2024"><img style="width: 98%" src="../../img/splash/240307-celebration-of-science-n.jpg" alt="ARCHER2 Celebration of Science" /></a> 															
														
			</div>	
-->			
			
			<div class="block">	

				  <h4>ARCHER2 Training </h4>

	
					
				  <a href="../../training/#upcoming-training"><img style="width: 98%" src="../../img/splash/240301-training-mar24.jpg" alt="Upcoming training" /></a> 	
					<br /><br />				
																				
			</div>


			<div class="block">		
			
				<h4>ARCHER2 Capability Day</h4>			
					  
				  <a href="https://docs.archer2.ac.uk/user-guide/scheduler/#capability-days"><img style="width: 98%" src="../../img/splash/240314-capability-day.jpg" alt="Capability Day" /></a> 	
				  <br /><br />						
		  </div>
			
			
			<div class="block">		
				<h4>Access to HPC call </h4>			
				<a href="../../support-access/access.html#archer2-time-calls"><img style="width: 98%" src="../../img/splash/240304-access-hpc-call.jpg" alt="Access to HPC call" /></a> 
			</div>

			<div class="block">				
				<h4>eCSE </h4>				
				<a href="../../ecse/calls/"><img style="width: 98%" src="../../img/splash/240122-ecse-12.jpg" alt="12th eCSE Call" /></a> 							
			</div>	


 						
			<div class="block">
						
				<h4><a href="../../ecse/reports/">eCSE Project Reports</a> </h4>

					<h5><a href="../../ecse/reports/eCSE06-01"> Hybrid Atomistic-Continuum Simulations of Boiling Across Scales</a></h5>					
					<a href="../../ecse/reports/eCSE06-01"><img style="width: 98%" src="../../ecse/reports/ARCHER2-eCSE06-01.jpg" alt="eCSE06-01 Report" /></a> 	<br /><br />						
				
		   </div>				


			<div class="block">
				<h4><a href="../../research/case-studies/">Case Studies</a> </h4>	

				<h5><a href="../../research/case-studies"> Simulating iceberg calving in 3D </a></h5>					
				<a href="../../research/case-studies"><img style="width: 98%" src="../../research/case-studies/iceberg/iceberg.jpg" alt="iceberg" /></a> 	<br /><br />	

				<h5><a href="../../research/case-studies"> Sources of marine pollution for remote islands in the west Indian Ocean </a></h5>					
				<a href="../../research/case-studies"><img style="width: 98%" src="../../research/case-studies/marine-pollution/marine-pollution.jpg" alt="marine pollution" /></a> 	<br /><br />	
		  
		  </div>				
	

<!--			
			<div class="block">	
			
				  <h4>ARCHER2 Blog </h4>				
				  <a href="../news/2023/11/28/top-10-tips-hpc.html"><img style="width: 98%" src="../../img/splash/231128-top-10-tips.jpg" alt="Top 10 Tips for HPC blog" /></a> 	
			</div>
-->

	


<!-- 			
			<div class="block">	

				  <h4>EPSRC Access to HPC call</h4>	
													
				  <a href="https://www.archer2.ac.uk/news/2023/10/16/access-to-hpc.html"><img style="width: 98%" src="../../img/splash/231016-access-hpc-call.jpg" alt="EPSRC Access to HPC call" /></a> 															
														
			</div>	
	
	 --> 
		
		
		
			
<!-- 
			
			<div class="block">				
				  <h4> ARCHER2 Upgrade</h4>				
				
					<a href="https://docs.archer2.ac.uk/faq/upgrade-2023/"><img style="width: 98%" src="../../img/splash/230329-upgrade.jpg" alt="ARCHER2 upgrade 2023" /></a> 													
			</div>			
					
 -->
 <!-- 				
			<div class="block">				
				  <h4>10th ARCHER2 eCSE call open</h4>				
				
					<a href="https://www.archer2.ac.uk/ecse/calls/"><img style="width: 98%" src="../../img/splash/230419-ecse-10.jpg" alt="ARCHER2 eCSE call 10" /></a> 										
			</div>	
			
				
-->
				


					
<!--	

			<div class="block">
			
				  <h4><a href="research/technical-reports/">Technical Reports</a> </h4>
					
				  <h5><a href="research/technical-reports">Emissions and energy efficiency on large-scale high performance computing facilities: ARCHER2 UK national supercomputing service case study</a></h5>					
					<a href="/research/technical-reports/"><img style="width: 98%" src="/research/technical-reports/emissions-and-energy-efficiency/measured-power-draw.jpg" alt="Measured power draw of ARCHER2 compute cabinets" /></a> 	<br /><br />	
		
			</div>				 
-->	 			

 			
				
			
						
			<div class="block">
						
											
			</div>		
				

	
      
    </div>
  </div>
</section>
