<!-- footer Start -->
<footer>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="copyright">
				<p>Website Copyright &copy; Design &amp; Developed by <a href="https://www.epcc.ed.ac.uk">EPCC</a>.<br/>
				Website Design by <a href="http://helenmcfeely.blogspot.com/">Helen McFeely</a>.  <a href="{{ site.baseurl }}/about/credits.html">Image credits</a>.<br/>
        Template Copyright &copy; Design &amp; Developed by <a href="https://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
        <a href="mailto:support@archer2.ac.uk"><ion-icon name="mail"></ion-icon></a>	
        <a href="https://twitter.com/archer2_hpc"><ion-icon name="logo-twitter"></ion-icon></a>
        <a href="https://www.github.com/archer2-hpc"><ion-icon name="logo-octocat"></ion-icon></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="logos">
          <p>
            <img src="{{ site.baseurl }}/img/logos/epcc_logo_transp.png" alt="EPCC logo" height="40" />
            <img src="{{ site.baseurl }}/img/logos/UKRI-EPSRC-NERC-logo.png" alt="UKRI EPSRC NERC logo" height="40" />
            <img src="{{ site.baseurl }}/img/logos/hpesm_pri_grn_pos_rgb.png" alt="HPE logo" height="40" />
            <img src="{{ site.baseurl }}/img/logos/uoe_logo.png" alt="University of Edinburgh logo" height="40" />
          </p>   
        </div>
      </div>
    </div>
</footer>
