<!-- footer Start -->
<footer>
    <div class="row">
      <div class="col-md-6">
        <div class="copyright">
				<p>Website Copyright &copy; Design &amp; Developed by <a href="https://www.epcc.ed.ac.uk">EPCC</a>.<br/>
				Website Design by <a href="http://helenmcfeely.blogspot.com/">Helen McFeely</a>.  <a href="{{ site.baseurl }}/about/credits.html">Image credits</a>.<br/>
        Template Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>	
        </div>
      </div>
      <div class="col-md-6">
        <div class="logos">
        <div class="footer-manu">
          <ul>
            <li><img src="{{ site.baseurl }}/img/logos/epcc_logo_transp.png" alt="EPCC logo" height="40" /></li>
            <li><img src="{{ site.baseurl }}/img/logos/UKRI-EPSRC-NERC-logo.png" alt="UKRI EPSRC NERC logo" height="40" /></li>
            <li><img src="{{ site.baseurl }}/img/logos/CRAY-logo.png" alt="Cray HPE logo" height="40"  /></li>
            <li><img src="{{ site.baseurl }}/img/logos/uoe_logo.png" alt="University of Edinburgh logo" height="40"  /></li>
          </ul>   
        </div>    
        </div>
      </div>
    </div>
</footer>
